<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Recipe</title>
</head>
<body>
<h1>Recipes Book</h1>
<hr>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Prep Time</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.id}">100</td>
            <td th:text="${recipe.description}">description</td>
            <td th:text="${recipe.prepTime} + ' min' ">2500</td>
        </tr>
    </tbody>

</table>


</body>
</html>