<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>add recipe</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script rcs="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"
    ></script>

</head>
<body>

<div class="head" style="background-color:lightskyblue ; height: 80px; margin-left: 1cm;">
    <h1 th:text=" 'Add Recipe' " style="text-align: center; padding: 12px">Recipe Form</h1>
</div>

<!--<img th:src="@{/images/recipes2.jpg}" alt="recipe image" style="float:right; width: 900px; height: 950px;-->
<!--             margin-top: 0.5cm; margin-right: 1cm">-->

<form action="#" th:action="@{/food/saveRecipe}"
      th:object="${recipe}" method="post">

    <!-- Validation checking for input fields -->
    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
        <p>Please Correct Errors Below</p>
    </div>

    <input type="hidden" th:field="*{id}">

    <div>
        <br>
        <p th:text="#{recipe.description}"
        style="font-size: large; font-weight: bold; width: fit-content; margin-left: 1cm;"
        >Description</p>

        <textarea  th:field="*{description}" th:errorclass="has-error" rows="4" cols="100"
                   style="resize:none; border-radius: 8px; margin-left: 1cm; border-color: lightskyblue;
                   border-top-style: groove;">

        </textarea>
        <span class="help-block" th:if="${#fields.hasErrors('description')}">
            <ul>
                <li th:each="err :${#fields.errors('description')}" th:text="${err}"></li>
            </ul>
        </span>

        <div style="border-radius: 8px;width: 19.7cm  ;background-color: lightskyblue;  margin-top: 0cm;
             margin-left: 1cm; padding: 12px">
            <h2> Details </h2>

            Preparation Time <input type="text" th:field="*{prepTime}" style="margin-left: 0.5cm;">
                <span class="help-block" th:if="${#fields.hasErrors('prepTime')}">
                    <ul>
                       <li th:each="err : ${#fields.errors('prepTime')}"
                           th:text="${err}"></li>
                    </ul>

                </span>

            <br><br>

            Cooking Time <input type="text" th:field="*{cookTime}" style="margin-left: 1.05cm;">
            <span class="help-block" th:if="${#fields.hasErrors('cookTime')}">
                <ul>
                    <li th:each="err:${#fields.errors('cookTime')}"
                        th:text="${err}"></li>
                </ul>
            </span>

            <br><br>

            Servings <select th:field="*{servings}" style="margin-left: 1.9cm; width: 2cm; height: 0.6cm;">
            <option value=1 >1</option>
            <option value=2 >2</option>
            <option value=3 >3</option>
            <option value=4 >4</option>
            <option value=5 >5</option>
        </select> * Note: Persons to be served

            <br><br>

            <p Source style="position: absolute; left: 7cm; margin-top: -3.5cm;">
                <input type="text" th:field="*{source}" style="position: relative; left: 7cm; margin-top: -1.5cm;" >
                Source</p>

            Url Link <input type="text" th:field="*{url}" style="border-radius: 8px; width: 14.5cm; margin-top: 0.5cm;
            margin-left: 1.9cm; margin-bottom: 00.5cm;">
            <span class="help-block" th:if="${#fields.hasErrors('url')}">
                <ul>
                    <li th:each="err:${#fields.errors('url')}"
                        th:text="${err}"></li>
                </ul>


            </span>

        </div>
    </div>

    <div style="margin-left: 1cm; margin-top: 1cm;width: 19.7cm  ;">

        <h2 >Directions</h2>

        <textarea th:field="*{directions}" rows="9" cols="100" style="resize: none;border-color: lightskyblue;
                        border-top-style: groove;
                        border-radius: 8px ">
        </textarea>

    </div>

    <div CLASS="container" style="background-color: lightskyblue;width: 19.7cm  ; margin-left: 1cm; margin-top: 1cm;
         border-radius: 8px; padding: 10px">

    <label th:label="Difficulty">Difficulty</label>
        <select th:field="*{difficulty}" style="margin-left: 1cm">
            <option th:each="level : ${T(com.atech.entity.Difficulty).values()}"
                    th:value="${level.name()}"
                    th:text="${level.name()}">
            Value</option>
        </select>

    </div>

    <div style="width: 19.7cm  ;background-color: lightskyblue; margin-left: 1cm; margin-top: 1cm;
         border-radius: 8px">

        <h2 >Notes</h2>
        <input type="text" th:field="*{notes.notes}" class="form-control" style="height: 2cm
    ;">

    </div>


    <div style="height: 2.5cm;width: 19.7cm  ;">

        <input type="submit" value="Submit" class="btn-primary
           btn btn-primary col-md-1 col-md-offset-1" style="margin-left: 18cm;
           width: 4cm;font-weight: bold;
           font-family:'Times New Roman', Times, serif;
           font-size: 18px; border-radius: 16px; margin-top: 00.5cm;" >

        <a href="#" th:href="@{/food/}" class="btn btn-danger"
           style="margin-left: 24cm;
           width: 4cm;font-weight: bold;
           font-family:'Times New Roman', Times, serif;
           font-size: 18px; border-radius: 16px; margin-top: -1.6cm;">Cancel</a>

    </div>

</form>

</body>
</html>