<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ingredients</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script rcs="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"
    ></script>

</head>
<body>

<div class="container-fluid" style="margin-top: 20px; margin-left: 300px; width:300%">
    <div class="row">
        <div class="col-md-2 col-md-offset-0">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Ingredients List</h1>
                </div>

                <div class="panel-body">

                <div class="table-responsive" th:if="${not #lists.isEmpty(recipe.ingredients)}">

    <table class="table table-hover">
        <thead  class="thead-inverse">
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>View</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="ingredient : ${recipe.ingredients}" >

                <td th:text= "${ingredient.id}"></td>
                <td th:text=" ${ingredient.amount} +' '+
                              ${ingredient.getMeasureUnitCommand.description}+ ' ' +
                              ${ingredient.description}"
                ></td>

                <td>  <a href="#"
                      th:href="@{'/recipe/'+${recipe.id}+'/ingredient/'+${ingredient.id}+'/show'}"
                      class="btn btn-primary"
                      >View</a>
                </td>

                <td>
                     <a href="#"
                     th:href="@{'/recipe/'+${recipe.id}+'/ingredient/'+${ingredient.id}+'/update'}"
                     class="btn btn-primary"
                     >Update</a>
                </td>

                <td>
                    <a href="#"
                       th:href="@{'/recipe/'+${recipe.id}+'/ingredient/'+${ingredient.id}+'/delete'}"
                       class="btn btn-danger"
                       >Delete
                    </a>
                </td>

            </tr>
        </tbody>
    </table>

                    <a href="#"
                       th:href="@{'/recipe/' + ${recipeId} +'/addIngredient'}"
                       class="btn bg-success" style="margin-left: 40px">
                    Add Ingredient</a>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>